<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>JPA 회원 조회</h1>
	
	<div class="nav">
		<form action="/members/search" method="post">
			회원검색이름 : <input type="text" name="name" placeholder="회원검색 이름을 입력하세요">
			<button type="submit">검색</button><p>
		</form>
	</div>
	
	<div class="container">
		<div>
			<table border="1">
				<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="member : ${members}">
					<td th:text="${member.id}"></td>
					<td th:text="${member.name}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>